<!DOCTYPE html>
<html lang="es">
	<head>
		<meta name="robots" content="INDEX, FOLLOW" />
		<meta name="language" content="es" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Rafael Clemente</title>
		<link rel="shortcut icon" href="http://www.rafaelclementeart.es/images/site/favicon/" type="image/x-icon"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/style.css') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/jquery.jscrollpane.css') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/lightbox.css') }}" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/jquery.bxslider.css') }}" />
		<link rel="stylesheet" href="{{ asset('SlickNav/slicknav.css') }}" />

		<script type="text/javascript" src="{{ asset('js/jquery-1.7.2.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/lightbox.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/jquery.bxslider.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/page_function.js') }}"></script>
		<script src="{{ asset('SlickNav/jquery.slicknav.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('js/generales.js') }}"></script>

		<script>
		</script>

		{%block js%}
		{%endblock%}
</head>
	{%block body%}
	{%endblock%}
</html>