{%for element in exhibitions.articles%}
	<div class="ex-cont">
		<p class="name">
			{{element.name|title}}
		</p>
		<p class="date">
			{{element.date|date("Y/m/d")}}
		</p>
		<p class="name">
			{{element.place|title}}
		</p>
		<div class="desc">
			{{element.content|raw}}
		</div>
	</div>
{%endfor%}
<div class="ex-navigation" style="">
	{%if exhibitions.izquierda !=0%}
		<span class="ex-next  expo-paginacion" pagina="{{exhibitions.izquierda}}">PREV</span>
	{%endif%}
	{%if exhibitions.derecha !=0%}
		<span class="ex-next expo-paginacion" pagina="{{exhibitions.derecha}}">NEXT</span>
	{%endif%}
</div>
<div id="loader" style="width:100%;height:100%;display:none;margin-top: 120px;">
	<p style="text-align:center;"><img src="{{asset('loader.gif')}}"></p>
</div>