
{%for element in galleryResources%}
	<div class="art-cell">
		<a title="{{element.getFriendlyName}}" href="{{path('proyecto_front_resource',{'idpage' :idpage,'galerianombre': gallery.getFriendlyName, 'idgaleria' : gallery.getId, 'recursonombre' :element.getFriendlyName , 'idrecurso' :element.getId})}}">
			<img alt="{{element.getFriendlyName}}" src="{{element.getWebPath | apply_filter('front_gallery')}}" width="90" height="90"/>
		</a>
	</div>
{%endfor%}
<div id="loader" style="width:100%;height:100%;display:none;margin-top: 33px;">
	<p style="text-align:center;"><img src="{{asset('loader.gif')}}"></p>
</div>