<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Pintura" href="{{path('proyecto_front_pintura')}}">PINTURA</a><div class="line-rest"></div>
	</div>
</li>
<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Fotografía" href="{{path('proyecto_front_fotografia')}}">FOTOGRAFÍA</a><div class="line-rest"></div>
	</div>
</li>
<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Biografía" href="{{path('proyecto_front_biografia')}}">BIOGRAFÍA</a><div class="line-rest"></div>
	</div>
</li>
<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Exposiciones" href="{{path('proyecto_front_exposiciones')}}">EXPOSICIONES</a><div class="line-rest"></div>
	</div>
</li>
<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Prensa" href="{{path('proyecto_front_prensa')}}">PRENSA</a><div class="line-rest"></div>
	</div>
</li>
<li class="menu-element">
	<div class="menu-link-cont">
		<a title="Contacto" href="{{path('proyecto_front_contacto')}}">CONTACTO</a><div class="line-rest"></div>
	</div>
</li>

<li class="menu-rest">
	<div class="menu-link-cont">
		&nbsp; <div class="line-rest-last"></div>
	</div>
</li>