{% extends "ProyectoPrincipalBundle:Helpers:baseInterna.html.twig" %}

{%block js%}
<script type="text/javascript" src="{{ asset('sf/calendar/calendar.js') }}"></script>
<script type="text/javascript" src="{{ asset('sf/calendar/lang/calendar-es.js') }}"></script>
<script type="text/javascript" src="{{ asset('sf/calendar/calendar-setup.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/datetimepicker.js') }}"></script>

<script type="text/javascript" src="{{asset('sf/prototype/js/prototype.js')}}"></script>
<script type="text/javascript" src="{{asset('sf/prototype/js/builder.js')}}"></script>
<script type="text/javascript" src="{{asset('sf/prototype/js/effects.js')}}"></script>
<script type="text/javascript" src="{{asset('sf/prototype/js/dragdrop.js')}}"></script>


<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('sf/sf_admin/css/main.css') }}">
<link rel="stylesheet" type="text/css" media="screen" href="{{ asset('sf/calendar/skins/aqua/theme.css') }}">
<script type="text/javascript">
	function ejecuta(){
		Sortable.create('order', {
			onUpdate : function() {
				ajustaListadoImagenesSeleccionadas();
								  }
							     });
	}
	function ajustaListadoImagenesSeleccionadas(){
		var numeracion ="";

	 	jQuery.each(jQuery(".sortable"), function(indice, valor) {
			
			var id = jQuery(valor).attr('numero');

			if(numeracion==""){
				numeracion = id;
			}
			else{
				numeracion = numeracion +','+id;
			}
			
		});

		jQuery('#numeracion').val(numeracion);
	 	return false;
	}
</script>
{%endblock%}
{%block contents%} <td id="contents"><!-- whole contents -->
<div id="sf_admin_container">
	<h1>{{menu.subseccion|trans}}</h1>
	<div id="sf_admin_header"></div>
	<div id="sf_admin_content">
		<form action="{{ url }}" method="post" {{ form_enctype(form) }}>
			<input type="hidden" name="page_id" id="page_id" value="">
			<fieldset id="sf_fieldset_none" class="">
				<div class="form-row">
					<label for="page_title" class="required">{% trans %}Título{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.name, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row"  class="required">
					<label for="page_title" class="required">{% trans %}Subtitulo{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.subtitle, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_keywords" class="required">{% trans %}Palabras Clave{% endtrans %} [metatag]:</label>
					<div class="content">
						{{ form_widget(form.keywords, { 'attr': {'size': '80'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_content" class="required">{% trans %}Contenido{% endtrans %}:</label>
					<div class="content">
						<input type="hidden" id="page[content]" name="page[content]" value="{{contenido}}" style="display:none">
						<input type="hidden" id="page[content]___Config" value="" style="display:none">
						<iframe id="page[content]___Frame" src="{{asset('js/fckeditor/editor/fckeditor.html?InstanceName=page[content]&amp;Toolbar=Default')}}" width="100%" height="500" frameborder="0" scrolling="no" style="margin: 0px; padding: 0px; border: 0px; background-color: transparent; background-image: none; width: 100%; height: 500px;"></iframe>
					</div>
				</div>
				<div class="form-row">
					<label for="page_media_id" class="required">{% trans %}Pagina{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.page, { 'attr': {'class': 'photo_toggle'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_media_id" class="required">{% trans %}Articulo{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.article, { 'attr': {'class': 'photo_toggle'} }) }}
					</div>
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Publicado{% endtrans %}:</label>
					<div class="content">
						{{ form_widget(form.published, { 'attr': {'checked': 'checked'} }) }}
					</div> 
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Imagenes{% endtrans %}:</label>
					<div class="content">
						{%set variable = 0%}
						<table border="1" width="100%">
							
							{%for element in resources %}
								{%if variable ==0%}<tr>{%endif%}
								{%if variable % 8 ==0%}</tr><tr>{%endif%}
								{%set seleccionado = true%}
								
								{%if accion != 'nuevo'%}
									{%for resource in galleryResources if seleccionado %}
										{%if resource.resource ==element.id%}
											{%set seleccionado = false%}
										{%endif%}
									{%endfor%}
								{%endif%}

								<td>
									<p class="imagen-galeria-{%if seleccionado== true %}no{%endif%}seleccionada">
										<img alt="{{element.name|title}}" title="{{element.name|title}}" id="{{element.getId}}" src="{{ element.getWebPath | apply_filter('gallery') }}" class="imagen-galeria"/>
									</p>
								</td>

								{%set variable = variable +1%}
							{%endfor%}
							</tr>
						</table>
					</div>
				</div>
				<div class="form-row">
					<label for="page_published">{% trans %}Rank{% endtrans %}:</label>
					<div class="content">
						<ul id="order">
							{%if accion != 'nuevo'%}
								{%for resource in galleryResources%}
									<li id="page_{{resource.resource}}" numero="{{resource.resource}}" class="sortable" style="position: relative;width: 95%;">ID: {{resource.resource}}, {{resource.name}}<b> </b></li>
								{%endfor%}
							{%endif%}
						</ul>
						<div id="feedback"></div>
							{%if accion != 'nuevo'%}
								<script type="text/javascript">
								 	Sortable.create('order', {
									onUpdate : function() {
										ajustaListadoImagenesSeleccionadas();
							  					}
						     				});
								</script>
							{%endif%}
					</div>
					<input type="hidden" id="numeracion" name="numeracion" value="">
				</div>
			</fieldset>
			<ul class="sf_admin_actions">
				<li>
					<input class="sf_admin_action_list" value="{% trans %}Listado{% endtrans %}" type="button" onclick="document.location.href='{{path('proyecto_principal_gallery_list')}}';">
				</li>
				<li>
					<input type="submit" name="save" value="{%if accion == 'nuevo'%}{% trans %}Guardar{% endtrans %}{%else%}{% trans %}Actualizar{% endtrans %}{%endif%}">
				</li>
			</ul>
		</form>
		<ul class="sf_admin_actions"></ul>
	</div>
	<div id="sf_admin_footer"></div>
</div><!-- end whole contents --></td>

<script type="text/javascript">
jQuery('.agregarfecha').click(function() {  
 	var actual = jQuery(this);
 	var cantidad = jQuery('.nuevafecha').length;
 	console.log('la cantidad actual es'+cantidad);
 	jQuery('.nuevafecha').first().clone().appendTo( "#contenidofechas" );
 	jQuery('.nuevafecha').last().find('.agregarfecha').remove();
 	jQuery('.nuevafecha').last().find('.inputgrande').first().attr('id','f'+(cantidad+1));
 	jQuery('.nuevafecha').last().find('.inputgrande').first().attr('onclick',"javascript:NewCal('f"+(cantidad+1)+"','ddmmyyyy','dropdown',true)");
 	jQuery('.nuevafecha').last().find('.inputgrande').first().attr('name','fechas[date_'+(cantidad+1)+']');
 	
 	
 																			
    return false;
  });
jQuery('.trigger_program_date').click(function() {  
 	var actual = jQuery(this);
 	
 	var codigo = actual.attr('codigo');
 	


    return false;
  });
jQuery('.imagen-galeria').click(function() { 
	var actual = jQuery(this);
	var id = actual.attr('id');
	var nombre = actual.attr('title');

	if(actual.parent().hasClass('imagen-galeria-noseleccionada')){
		actual.parent().removeClass('imagen-galeria-noseleccionada');
		actual.parent().addClass('imagen-galeria-seleccionada');

		var cadena = '<li id="page_'+id+'" numero="'+id+'" class="sortable" style="position: relative;width: 95%;">ID: '+id+', <b>'+nombre+' </b></li>';
		jQuery('#order').append(cadena);
		ajustaListadoImagenesSeleccionadas();
		ejecuta();
		
							 
	}
	else{
		actual.parent().removeClass('imagen-galeria-seleccionada');
		actual.parent().addClass('imagen-galeria-noseleccionada');

		jQuery('#page_'+id).remove();
		ajustaListadoImagenesSeleccionadas();
	}
});

	
 </script>
{%endblock%}