{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}
{%block js%}
	{%if gallery  is not null %}
	var direccionActualizaGaleria = '{{path('proyecto_front_actualiza_galeria')}}';
	{%endif%}
	{%if page.scheme != 0 %}
	var direccionActualizaExposiciones = '{{path('proyecto_front_actualiza_exposiciones')}}';
	{%endif%}
{%endblock%}


{%block contenido%}
<input type="hidden" id="tipopagina" value="page0">
	<div class="content">
		<div class="content-left">
			{%if gallery  is null %}
			<!--IMAGEN DE PAGINA-->
			<div id="contenidoImagen">
				<p style="text-align:center;">
					<a title="{{page.title|title}}" rel="lightbox" 
				href="{%if  media is not null%}{{asset(''~ media.getWebPath ~ '')}}{%endif%}">
						<img alt="{{page.title|title}}"  src="{%if  media is not null%}{{asset(''~ media.getWebPath~ '')}}{%endif%}" class="imagen-pagina" width="470">
					</a>
				</p>
			</div>
			{%else%}
			<!--GALERIA DE IMAGENES-->
			<div class="art-content">
				<div class="art-row">
					{% include 'ProyectoFrontBundle:Helpers2:galeriaRecursos.html.twig' with { 'galleryResources': galleryResources} %}
				</div>
				<div class="art-content-pag">
					{% include 'ProyectoFrontBundle:Helpers2:galeriaRecursosPaginacion.html.twig' with { 'paginator': paginator} %}
				</div>
			</div>
			{%endif%}
			<div class="contenidoOculto">
				<h3 class="titulo-pagina">{{page.title|upper}}</h3>
				{%if page.scheme==0%}
				<div class="top-margin">
					{{page.content|raw}}
				</div>
				{%else%}
					<div class="ex-container">
						{% include 'ProyectoFrontBundle:Helpers2:exposiciones.html.twig' with { 'exhibitions': exhibitions} %}
					</div>
				{%endif%}
				<div class="content-line"></div>
			</div>
		</div>
		<div class="content-right">
			<h3 class="titulo-pagina">{{page.title|upper}}</h3>
			{%if page.scheme==0%}
			<div class="top-margin">
				{{page.content|raw}}
			</div>
			{%else%}
			<div class="ex-container">
				{% include 'ProyectoFrontBundle:Helpers2:exposiciones.html.twig' with { 'exhibitions': exhibitions} %}
			</div>
			{%endif%}
		</div>
	</div>
	<div class="page-holder">
		<div class="content-line"></div>
	</div>
{%endblock%}
