{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
	<div class="content">
		<div class="content-left  ex-bottom">
			<h3>{{page.title|upper}}</h3>
			{%if page.scheme==0%}
			<div class="top-margin">
				{{page.content|raw}}
			</div>
			{%else%}
			<div class="ex-container">
				<div class="ex-cont">
					<p class="name">
						First Exhibition
					</p>
					<p class="date">
						2012/11/22
					</p>
					<p class="name">
						Paris
					</p>
					<div class="desc">
						<p>
							First Exhibition Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						</p>
					</div>
				</div>
				<div class="ex-cont">
					<p class="date">
						2012/11/04
					</p>
					<p class="name">
						Berlin
					</p>
					<div class="desc">
						<p>
							Second Exhibition Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
						</p>
					</div>
				</div>
				<div class="ex-cont">
					<p class="date">
						2012/12/06
					</p>
					<p class="name">
						Hong-Kong
					</p>
					<div class="desc">
						<p>
							Third ex Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						</p>
					</div>
				</div>
				<div class="ex-cont">
					<p class="date">
						2013/01/19
					</p>
					<p class="name">
						Rio De Janeiro
					</p>
					<div class="desc">
						<p>
							Fourth ex Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
						</p>
					</div>
				</div>
				<div class="ex-navigation">
					<span class="ex-next p-2 pa-4">NEXT</span>
				</div>
			</div>
			{%endif%}
		</div>
		<div class="content-right  ex-top">
			<a title="{{page.title|title}}" rel="lightbox" 
			href="{%if  media is not null%}{{ media.getWebPath | apply_filter('my_thumb3') }}{%endif%}">
				<img alt="{{page.title|title}}"  src="{%if  media is not null%}{{ media.getWebPath | apply_filter('my_thumb2') }}{%endif%}">
			</a>
		</div>
	</div>
	<div class="page-holder">
		<div class="content-line"></div>
	</div>
{%endblock%}
